@font-face {
  font-family: "Bereg";
  src: url("../fonts/Bereg-Bold.eot");
  src: url("../fonts/Bereg-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bereg-Bold.woff2") format("woff2"), url("../fonts/Bereg-Bold.woff") format("woff"), url("../fonts/Bereg-Bold.ttf") format("truetype"), url("../fonts/Bereg-Bold.svg#Bereg-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.35;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

h1 {
  font-family: "Bereg", sans-serif;
  font-size: 70px;
  line-height: 1;
  max-width: 690px;
  color: #161414;
}

h2 {
  font-family: "Bereg", sans-serif;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 28px;
  max-width: 1072px;
}

.title-desc {
  font-size: 14px;
  line-height: 1.5;
  max-width: 602px;
}

.btn {
  background: #FFE712;
  border-radius: 8px;
  width: 190px;
  border: none;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #232222;
  cursor: pointer;
}

li {
  list-style: none;
}

.list_name {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 12px;
}
.list li {
  font-size: 14px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 12px;
  padding-left: 20px;
  position: relative;
}
.list li:before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  left: 8px;
  top: 8px;
}

.container {
  max-width: 1420px;
  width: calc(100% - 30px);
  margin: 0 auto;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}
.nav_logo {
  max-height: 20px;
}
.nav_menu {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
  margin-right: 85px;
}
.nav_menu_item {
  font-size: 12px;
  color: #161414;
}
.nav_btns {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav_btn {
  background: transparent;
  border: 1px solid #DEDEDE;
  border-radius: 15px;
  padding: 8px 20px;
  font-size: 12px;
  color: #161414;
  cursor: pointer;
}

/* -------------  Header  ---------------- */
.header {
  background: url("../img/main-bg.svg") no-repeat center bottom/cover;
}
.header_offer {
  padding: 116px 0 124px;
  display: flex;
  align-items: flex-start;
  justify-content: end;
}
.header_info {
  margin-top: 18px;
  width: 578px;
}
.header_desc {
  font-size: 16px;
  line-height: 1.3;
  color: #333131;
  max-width: 350px;
  margin-bottom: 87px;
}
.header_bubbles {
  display: flex;
  align-items: flex-start;
}
.header_bubble {
  background: #FFE712;
  border-radius: 50%;
  width: 104px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #222222;
  margin-top: 80px;
}
.header_bubble.firm-style {
  width: 161px;
  height: 161px;
  margin-top: 0;
  margin-left: 62px;
}
.header_bubble.web-sites {
  width: 148px;
  height: 148px;
  margin-top: 180px;
  margin-left: -20px;
}

.pros {
  padding-bottom: 50px;
}
.pros_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 140px;
}
.pros_item {
  display: flex;
  align-items: flex-start;
  gap: 27px;
}
.pros_img {
  min-width: 82px;
  text-align: center;
}
.pros_name {
  font-size: 24px;
  font-weight: 500;
  color: #161414;
  margin-bottom: 24px;
}
.pros_desc {
  font-size: 15px;
  color: #6D6D6D;
  line-height: 150%;
  height: 140px;
}

/* -------------  Steps  ---------------- */
.steps {
  padding-bottom: 60px;
}
.steps_wrap {
  display: flex;
  padding-top: 102px;
}
.steps_circle {
  background: #EDF6FF;
  width: 296px;
  height: 296px;
  border-radius: 50%;
  padding: 0 16px 0 46px;
  transition: 0.5s ease;
}
.steps_circle:nth-child(even) {
  margin-top: 190px;
}
.steps_circle:not(:first-child) {
  margin-left: -20px;
}
.steps_circle.active {
  background: #FFE712;
}
.steps_circle.active .steps_circle_number {
  color: #000;
}
.steps_circle.active .steps_circle_text {
  color: #000;
}
.steps_circle_top {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}
.steps_circle_name {
  font-size: 18px;
  font-weight: 600;
  width: 115px;
  margin-top: 76px;
}
.steps_circle_number {
  font-size: 100px;
  font-weight: 800;
  color: rgba(0, 117, 225, 0.1);
  line-height: 0.75;
}
.steps_circle_text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

/* -------------  Templates  ---------------- */
.sort-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1em;
}
.sort-btn.active img {
  transform: rotate(180deg);
}

.clear-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1em;
  margin-left: auto;
}

.templates {
  padding: 60px 0 120px;
}
.templates_filters {
  display: flex;
  gap: 30px;
  padding: 53px 0 28px;
  width: 100%;
}
.templates_categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.templates_category {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 32px;
  margin-bottom: 5px;
  padding: 10px 18px;
}
.templates_category.active {
  background: #DEDEDE;
}
.templates_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 40px;
}
.templates_item {
  background: #D9D9D9;
  border-radius: 12px;
  height: 420px;
  margin-bottom: 40px;
  overflow: hidden;
}
.templates_item:hover div {
  transform: translateX(-100%);
}
.templates_item div {
  transform: translateX(0);
  display: flex;
  transition: 0.5s ease-out;
}
.templates_item img {
  width: 100%;
}
.templates_btn {
  background: #EDF6FF;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px auto 0;
}

/* -------------  Footer  ---------------- */
.footer {
  background: #EDF6FF;
  padding: 46px 0;
}
.footer_top {
  margin-bottom: 18px;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_bottom .footer_links {
  font-size: 9px;
}
.footer_links {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 12px;
}
.footer_icons {
  margin-left: 7px;
}
.footer_credits {
  font-size: 11px;
}

/* -------------  Fixed plans  ---------------- */
.fixed-plans {
  padding: 0 0 120px;
}
.fixed-plans_wrap {
  margin-top: 90px;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 40px;
}
.fixed-plans_name {
  font-size: 20px;
  margin-bottom: 24px;
}
.fixed-plans_item {
  border: 1px solid #DDDDDD;
  border-radius: 12px;
  padding: 45px 45px 45px 24px;
}
.fixed-plans_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 50px;
}
.fixed-plans_col {
  max-width: 285px;
}
.fixed-plans_col_list {
  min-height: 150px;
  margin-bottom: 25px;
}
.fixed-plans_price {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.fixed-plans_bottom {
  font-weight: 600;
}

/* -------------  Template  ---------------- */
.presentation {
  background: #F8F8F8;
  padding: 107px 0 127px;
}

.template {
  padding: 60px 0;
}
.template_wrap {
  max-width: 816px;
}
.template_desc {
  font-size: 15px;
  color: #6D6D6D;
  margin-bottom: 35px;
}
.template_list {
  display: grid;
  grid-template-columns: 290px 460px;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 55px;
}
.template_footer {
  border: 1px solid #DDDDDD;
  border-radius: 12px;
  padding: 32px 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.template_footer_price {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 35px;
}
.template_footer_text {
  font-weight: 600;
  max-width: 425px;
  line-height: 1.2em;
}
.template_footer_circle {
  background: #FFE712;
  border-radius: 50%;
  width: 148px;
  height: 148px;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------------  Stamps  ---------------- */
.stamps .pros {
  padding-top: 120px;
  padding-bottom: 75px;
}
.stamps .pros_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px 50px;
}
.stamps .pros_item {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}
.stamps .pros_icon {
  background: #0E64B2;
  border-radius: 12px;
  width: 50px;
  min-width: 50px;
  height: 50px;
}
.stamps .pros_name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  color: #161414;
  margin-bottom: 24px;
}
.stamps .pros_text {
  font-size: 15px;
  line-height: 1.5;
  color: #6D6D6D;
}
.stamps .types {
  padding-bottom: 60px;
}
.stamps .types_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 30px 24px;
}
.stamps .types_item {
  position: relative;
}
.stamps .types_item:nth-child(3) .types_info, .stamps .types_item:nth-child(4) .types_info {
  padding-top: 40px;
  padding-bottom: 45px;
}
.stamps .types_item:hover .types_info {
  opacity: 1;
}
.stamps .types_info {
  padding: 90px 45px 90px 50px;
  background: rgba(237, 246, 255, 0.85);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.stamps .types_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.stamps .types_name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 26px;
}
.stamps .types_text {
  font-size: 14px;
}
.stamps .catalog {
  padding: 60px 0;
}
.stamps .catalog_desc {
  margin-bottom: 46px;
}
.stamps .catalog_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 54px 24px;
  margin-top: 53px;
  margin-bottom: 75px;
}
.stamps .catalog_item {
  background: #D9D9D9;
  border-radius: 12px;
  height: 204px;
}
.stamps .plans_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  margin: 90px 0 120px;
}
.stamps .plans_item {
  width: 100%;
}/*# sourceMappingURL=main.css.map */